.left{
    box-shadow: 0rem 0.3125rem 6.25rem 0rem #0000001A;
}
nav ul{
    font-family: "Inter", sans-serif;
}
.register{
    border: .0625rem solid #E0E0E9;
    box-shadow: 0px 10px 30px 0px #4461F20D;
}