@if(forgetFlow() == 1){
<section class="w-[25.625rem] gap-8 mx-auto">
  <h2 class="font-bold mb-8">Forgot your password?</h2>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
    <div class="mb-10">
      @let emailControl = forgotPasswordForm.get('email');
      <input formControlName="email" type="email" id="email" class="auth-inputs" placeholder="Enter Email" required />
      @if(emailControl?.errors && emailControl?.touched){
      <app-inputalert>
        @if(emailControl?.getError('required')){ <li class="font-medium">email is required</li> }
        @if(emailControl?.getError('email')){ <li class="font-medium">email must be a valid email</li> }
      </app-inputalert>
      }
    </div>
    <app-formbutton [text]="'Send code'"></app-formbutton>
  </form>
</section>
}

@if(forgetFlow() == 2){ <app-verify-code></app-verify-code> }