$li-color : #535353;

:host{
    font-family: "Inter", sans-serif;
}
h2{
    font-family: "Inter", sans-serif;;
}
.row{
    box-shadow: 0px 15px 40px 0px #2A29290D;
}

.li-color{
    color: $li-color;
}
.modal{
    background: rgba(0, 0, 0, 0.5);
}