<section>
    @if (examsOnSub) {
    <div class="grid gap-6 ">
        @for (exam of examsOnSub; track exam._id) {
        <div class="h-[6.4375rem] grid gap-4">
            <div class="row h-[6.4375rem] rounded-[.625rem] py-4 px-6 grid grid-cols-6 gap-6">
                <img class="w-[4.375rem] h-[4.375rem] grid grid-cols-subgrid col-span-1 place-self-center"
                    src="./images/javascript.png" alt="javascript icon">
                <div class="grid gap-4 h-[4.375rem] grid-cols-subgrid col-span-5">
                    <div class=" grid gap-1">
                        <p>{{exam.title}}</p>
                        <span>{{exam.numberOfQuestions}}</span>
                    </div>
                    <div class="grid gap-2 col-start-5 place-self-center">
                        <span>{{exam.duration}} Minutes</span>
                        <button (click)="toggleModal(exam._id)"
                            class="w-[4.8125rem] h-[1.4375rem] rounded-[.625rem] main-bg text-white">start</button>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
    @if (isStarted$ |async) {
    <app-exam-modal-skeleton>
        @switch (status$ |async) {
        @case ("instructions") {
        <div class="grid gap-4">
            <h3 class="font-medium text-2xl text-black">Instructions</h3>
            <div class="grid gap-2 align-middle">
                <ul class="font-medium text-xl list-disc li-color p-6">
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                </ul>
            </div>
            <button type="button" (click)="startExam()"
                class="text-white main-bg hover:bg-blue-800 font-medium text-base align-middle text-center  h-12 rounded-full">
                start</button>
        </div>
        }
        @case ("started") { <app-exam></app-exam> }
        @case ("get score") { <app-exam-score></app-exam-score> }
        }
    </app-exam-modal-skeleton>
    }

    }

</section>