$history: #696f79;

.text-white {
  color: white !important;
}
.history {
  color: $history;
}

button {
  @apply font-semibold lg:text-xs xl:text-lg text-start;
}
.side-button-style {
  @apply grid grid-cols-3 p-2 w-full items-center text-start;
}

.img-style {
  @apply w-6 h-6 col-span-1;
}
