<section class="w-[25.625rem] gap-8 mx-auto">
  <h2 class="font-bold mb-8">Sign in</h2>
  <form [formGroup]="loginForm" (ngSubmit)="signIn()">
    <div class="mb-8">
      @let emailControl = loginForm.get('email');
      <input formControlName="email" type="email" id="email" class="auth-inputs" placeholder="Enter Email" required />
      @if(emailControl?.errors && emailControl?.touched){
      <app-inputalert>
        @if(emailControl?.getError('required')){ <li>email is required</li> }
        @if(emailControl?.getError('email')){ <li>email must be a valid email</li> }
      </app-inputalert>
      }
    </div>
    <div class="mb-4 relative">
      @let passControl = loginForm.get('password');
      <input formControlName="password" [type]="tPassword() ? 'password':'text'" id="password" class="auth-inputs"
        placeholder="Password" required />
      <i (click)="changeType()" class="absolute end-2 top-1 cursor-pointer"><img src="./images/fluent_eye-20-filled.png"
          alt="eye icon"></i>
      @if(passControl?.errors && passControl?.touched ){
        <app-inputalert>
          @if(passControl?.getError('required')){ <li>password is required</li> }
            @if(passControl?.getError('pattern')){
            <li class="leading-5">Ensures at least one ( uppercase letter, lowercase letter, digit & special character )
            </li>
            <li class="leading-5">Ensures the password has at least 8 characters</li>
            }
        </app-inputalert>
      }
    </div>
    <p routerLink="/forgetpassword" class="main-color font-normal mb-10 text-right cursor-pointer">Recover Password ?
    </p>
    <app-formbutton [text]="'Sign in'"></app-formbutton>
  </form>
</section>