<section class="w-[25.625rem] gap-8 mx-auto">
  <h2 class="font-bold mb-8">Set a Password</h2>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <div class="mb-8">
      @let newPasswordControl = resetPasswordForm.get('newPassword');
      <input formControlName="newPassword" [type]="tPassword() ? 'password' : 'text'" class="auth-inputs"
        placeholder="Create Password" required />
      <i (click)="changeType()" class="absolute end-2 top-1 cursor-pointer"><img src="./images/fluent_eye-20-filled.png"
          alt="eye icon"></i>
      @if(newPasswordControl?.errors && newPasswordControl?.touched){
      <app-inputalert>
        @if( newPasswordControl?.getError('required') ){ <span class="font-medium">password is required</span> }
        @if( newPasswordControl?.getError('pattern') ){
        <li class="leading-5">Ensures at least one ( uppercase letter, lowercase letter, digit & special character )
        </li>
        <li class="leading-5">Ensures the password has at least 8 characters</li>
        }
      </app-inputalert>
      }
    </div>
    <div class="mb-8">
      @let rePasswordControl = resetPasswordForm.get('rePassword');
      <input formControlName="rePassword" [type]="tPassword() ? 'password' : 'text'" class="auth-inputs"
        placeholder="Re-enter Password" required />
      <i (click)="changeType()" class="absolute end-2 top-1 cursor-pointer"><img src="./images/fluent_eye-20-filled.png"
          alt="eye icon"></i>
      @if(resetPasswordForm.errors && rePasswordControl?.touched){
      <app-inputalert>
        <li class="font-medium">passwords don't match</li>
      </app-inputalert>
      }
    </div>
    <app-formbutton [text]="'Sign in'"></app-formbutton>
  </form>
</section>