.headerspan{
    @apply font-medium text-2xl align-middle ;
}
.icon{
    box-shadow: 0px 2px 30px 0px #00000040;
}
.nameText{
    background: rgba(25, 53, 202, 0.4);
    backdrop-filter: blur(27.01353645324707px);
}