<div class="w-[29.375rem] bg-white rounded-[1.25rem] myShadow p-6 grid gap-12"
    [class]="showScore() == false && score ? 'md:w-[48.5rem]' : 'md:w-[42.875rem]'">

        <!-- exam -->

    @if (showScore() == false && !score) {
    @if(questionsOnExam){
    <div class="grid gap-[1.6875rem]">
        <div class="grid gap-[1.6875rem]">
            <div class="flex justify-between items-center">
                <span class="font-medium text-sm/5 tracking-[.0063rem] main-color text-center align-middle">
                    Question {{index+1}} of {{questionsOnExam.length}}
                </span>
                <div class="w-[6.125rem] px-1 flex justify-center items-center">
                    <div class="w-6 h-[1.875rem] align-middle">
                        <img src="./images/clock.png" alt="clock">
                    </div>
                    <span class="font-normal text-xl/6 tracking-[.0313rem] align-middle text-center"
                        [class]="minutes > 2 ? 'success-color' : 'text-red-500'">
                        {{ minutes }} : {{ seconds }}
                    </span>
                </div>
            </div>
            <div class="flex justify-between items-center">
                @for (dot of questionsOnExam; track dot._id) {
                <div class="w-[.625rem] h-[.625rem] rounded-full" [class]="{
                        'dot': !check(dot._id),
                        'main-bg': check(dot._id),
                    }"></div>
                }
            </div>
        </div>
        <div class="grid gap-6 ">
            <h3 class="font-medium text-lg md:text-2xl">{{questionsOnExam[index].question}}</h3>
            <div class="grid gap-4">
                @for (answer of questionsOnExam[index].answers; track $index) {
                <div class="  rounded-[.625rem] py-4 px-2 flex flex-nowrap items-center" [class]="{
                        'bg-blue-100': isSelected(questionsOnExam[index]._id , answer.key),
                        'input-bg': !isSelected(questionsOnExam[index]._id , answer.key)
                            }">
                    <input [id]="$index" type="radio" [value]="answer.answer" [name]="questionsOnExam[index]._id"
                        (change)="selectAnswer(questionsOnExam[index]._id , answer.key)"
                        [checked]="isSelected(questionsOnExam[index]._id, answer.key)"
                        class="me-1 w-4 h-4 text-blue-600 border-blue-500 focus:ring-blue-500 cursor-pointer">
                    <label [for]="$index"
                        class="ms-1 font-normal text-sm md:text-xl text-black w-full cursor-pointer">{{answer.answer}}</label>
                </div>
                }
            </div>
        </div>
        <div class="h-14 grid gap-12 grid-cols-2">
            <button (click)="previousQuestion()" id="back" class=" h-14 rounded-full">Back</button>
            <button [disabled]="!check(questionsOnExam[index]._id)" (click)="nextQuestion()"
                class=" h-14 rounded-full main-bg text-white disabled:bg-gray-300 disabled:text-gray-400">
                @if (index == questionsOnExam.length -1 || minutes == 0) {Submit}
                @else {Next}
            </button>
        </div>
    </div>
    }
    }

        <!-- score -->

    @if (showScore() == true) {
    @if (score) {
    <h2 class="font-medium text-2xl">Your score</h2>
    <div class="flex justify-center items-center">
        <div class="me-2 sm:me-1 md:me-20">

            <div class="md:w-60">
                @if(isBrowser){
                <canvas baseChart [data]="doughnutChartData" [type]="doughnutChartType">
                </canvas>
                }
            </div>
        </div>
        <div>
            <div class="md:w-[10.625rem] flex justify-between items-center mb-2">
                <p class="correct font-medium text-lg md:text-2xl">Correct</p>
                <div
                    class="w-5 h-5 text-sm md:w-8 md:h-8 md:text-base p-2 cborder rounded-full flex justify-center items-center correct">
                    {{score.correct}}</div>
            </div>
            <div class="md:w-[10.625rem] flex justify-between items-center mb-2">
                <p class="incorrect font-medium text-lg md:text-2xl">InCorrect</p>
                <div
                    class="w-5 h-5 text-sm md:w-8 md:h-8 md:text-base p-2 inborder rounded-full flex justify-center items-center incorrect">
                    {{score.wrong}}</div>
            </div>
        </div>
    </div>
    <div class="h-14">
        <button (click)="showResults()" class="w-1/2 h-14 rounded-full main-bg text-white block mx-auto">Show
            results</button>
    </div>

    }
    }

        <!-- results -->

    @if (showScore() == false && score) {
        <!-- design: 4 questions -->
    <!-- <div class="grid gap-2 md:gap-[1.6875rem] grid-cols-2">
        @for (ques of questionsOnExam.slice(startIndex , startIndex+4); track ques._id) {
        <div class="grid md:gap-4 ">
            <h3 class="font-medium text-sm md:text-lg">{{ques.question}}</h3>
            <div class="grid gap-2">
                @for (item of ques.answers; track $index) {
                <div class="overflow-hidden rounded-[.625rem] py-1 px-2 flex flex-nowrap items-center" [class]="{
                            'bg-correct': (item.key == ques.correct),
                            'bg-wrong': (item.key == answersMap(ques._id) && item.key != ques.correct ),
                            'input-bg': (item.key != answersMap(ques._id) && item.key != ques.correct )
                        }">
                    <input [id]="$index+ques._id" type="radio" [name]="questionsOnExam[index]._id"
                        class="me-1 w-2 h-2 cursor-pointer" [class]="{
                                    'border-correct': (item.key == ques.correct),
                                    'focus:ring-correct': (item.key == ques.correct),
                                    'border-wrong': (item.key == answersMap(ques._id) && item.key != ques.correct ),
                                    'focus:ring-wrong': (item.key == answersMap(ques._id) && item.key != ques.correct )
                                    }" [checked]="(item.key == answersMap(ques._id))">
                    <label [for]="$index+ques._id"
                        class="ms-1 font-normal text-xs md:text-md text-black">{{item.answer}}</label>
                </div>
                }

            </div>
        </div>
        }
    </div> -->
    
    <div class="grid gap-3 md:gap-2 h-[31.25rem] grid-cols-2 overflow-auto">
        @for (ques of questionsOnExam; track ques._id) {
        <div class="grid md:gap-4">
            <h3 class="font-medium text-sm md:text-lg">{{ques.question}}</h3>
            <div class="grid gap-2">
                @for (item of ques.answers; track $index) {
                <div class="overflow-hidden rounded-[.625rem] py-1 px-2 flex flex-nowrap items-center" [class]="{
                            'bg-correct': (item.key == ques.correct),
                            'bg-wrong': (item.key == answersMap(ques._id) && item.key != ques.correct ),
                            'input-bg': (item.key != answersMap(ques._id) && item.key != ques.correct )
                        }">
                    <input [id]="$index+ques._id" type="radio" [name]="questionsOnExam[index]._id"
                        class="me-1 w-2 h-2 cursor-pointer" [class]="{
                                    'border-correct': (item.key == ques.correct),
                                    'focus:ring-correct': (item.key == ques.correct),
                                    'border-wrong': (item.key == answersMap(ques._id) && item.key != ques.correct ),
                                    'focus:ring-wrong': (item.key == answersMap(ques._id) && item.key != ques.correct )
                                    }" [checked]="item.key == answersMap(ques._id)">
                    <label [for]="$index+ques._id"
                        class="ms-1 font-normal text-xs md:text-md text-black">{{item.answer}}</label>
                </div>
                }

            </div>
        </div>
        }
    </div>
    <div class="flex justify-between items-center">
            <!-- design: 2 buttons for the 4 questions design -->
              <!-- <button (click)="startIndex > 0 ? startIndex = startIndex-4 : 0" id="back"
            class="w-1/4 h-14 rounded-full text-center">Back</button>
        <button (click)="startIndex < questionsOnExam.length -1 ? startIndex = startIndex+4 : questionsOnExam.length-1"
            class="w-1/4 h-14 rounded-full main-bg text-white text-center" >
            Next
        </button> -->
        <button (click)="close()" id="back"class="w-1/4 h-14 rounded-full text-center block mx-auto">
            Close
        </button>
    </div>
    }
</div>