$success : #11CE19;
$input : #EDEFF3;
$next: #E5E5E5;
$correct: #02369c;
$incorrect: #cc1010;
$bg-correct: #CAF9CC;
$bg-wrong: #F8D2D2;
$dot: #D9D9D9;

.dot{
    background: $dot;
}
.focus\:ring-wrong:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: $incorrect;
}
.light-bg{
    background: #F9F9F9;
}

.bg-correct{
    background: $bg-correct;
}
.border-correct{
    border: 1px solid $success;
    color: $success;
}
.bg-wrong{
    background: $bg-wrong;
}
.border-wrong{
    border: 1px solid $incorrect;
    color: $incorrect;
}
.success-color{
    color: $success;
}
.input-bg{
    background-color: $input;
}
.next{
    background: lch(90.94% 0.01 296.81);
}
.correct{
    color: $correct;
}
.cborder{
    border: 1px solid #02369C
}
.incorrect{
    color: $incorrect;
}
.inborder{
    border: 1px solid #CC1010
}

:host{
    font-family: "Inter", sans-serif;
}

.myShadow{
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
}
span{
    font-family: "Roboto", sans-serif;
}
#back{
    border: 1px solid #4461F2
}
